<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/assets/logo.png">
</head>
<title>Logica 3.0</title>
<link rel="stylesheet" href="../static/css/ExploreUniverse.css" />
<link rel="stylesheet" href="../static/css/aos.css">
<link rel="stylesheet" href="../static/css/rocket.css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://doniws.github.io/FontAwesome6Pro/pro/css/all.css">
<link rel="stylesheet" href="https://doniws.github.io/Font-Text/Din/Din.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/loader.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</head>

<body>
    <div class="se-pre-con">
        <div class="drawing" id="loading">
            <div class="loading-dot"></div>
        </div>
    </div>
    <script>
        AOS.init();
    </script>
    <div id="main">
        <div id="particles-js"></div>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-trans sticky-top">
                <div style="margin-top: 5px;" class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../static/assets/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#home">Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#crew-rocket">Details</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#speakers">Logica 2.0</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#section3">Organizers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ourteam">Sponsors</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="#last">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="main-body text-center pt-3">
                    <div class="maintitle">
                        <!-- <img src="assets/MAIN4.png"> -->
                    </div>
                    <div style="margin-top: 210px; margin-left:20px" class="dateandplace">
                        <!-- <h1 class="fs-32 text-white  fw-500">Logica 3.0<span class="text-base-color"></span>&nbsp;</h1> -->
                        <h1 class="fs-32 text-white  fw-500">10th <span class="text-base-color">May</span>&nbsp;2024
                        </h1>
                        <h1 class="fs-42 text-white  fw-600"><span
                                class="text-base-color">ACM&nbsp;</span>Rscoe&nbsp;<span
                                class="text-base-color">Tathawade</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********************************************************************************** -->
    <h2 style="color: red; font-weight:900" id="crew-rocket" class="crew-dragon">Project Making Competition</h2>
    <section style="background-color: black;" class="rocket containerspacex">
        <div class="left-block">
            <img style="height: 400px;width:400px" src="../static/assets/minirobo.png" alt="">
            <div style="margin-top: -70px;" class="block payload">
                <h2 style="font-size: 40px;" data-aos="fade-up" data-aos-offset="300" data-aos-duration="2000">Round 2
                </h2>
                <p data-aos="fade-up" data-aos-offset="300" data-aos-duration="2500">Falcon 9 delivers payloads to space
                    aboard the Dragon spacecraft or inside a composite fairing.</p>
            </div>
            <div class="block capacity">
                <div>
                    <h4 data-aos="fade-up" data-aos-offset="200" data-aos-duration="2000" class="with-underline">ENGINE
                    </h4>
                    <h6 data-aos="fade-up" data-aos-offset="200" data-aos-duration="2500">9</h6>
                </div>
                <div>
                    <h4 data-aos="fade-up" data-aos-offset="200" data-aos-duration="2000" class="with-underline">
                        BURNTIME</h4>
                    <h6 data-aos="fade-up" data-aos-offset="200" data-aos-duration="2500">162 <small>SEC</small></h6>
                </div>
            </div>
            <div class="block capacity">
                <div>
                    <h4 data-aos="fade-up" data-aos-offset="100" data-aos-duration="2000" class="with-underline">Thrust
                        At Sea Level</h4>
                    <h6 data-aos="fade-up" data-aos-offset="100" data-aos-duration="2500">7,
                        607kN1</h6>
                </div>
            </div>
        </div>
        <div class="rocket-body">
            <span style="margin-left: 8px;" class="first">
                <img src="../static/assets/rocket1.png" class="rocket1" alt="rocket1">
            </span>
            <span class="second">
                <!-- <img src="../static/assets/rocket2.png" class="rocket2" alt="rocket2"> -->
            </span>
            <span class="third">
                <img src="../static/assets/rocket3.png" class="rocket3" alt="rocket3">
            </span>
        </div>
        <div class="right-block">
            <div class="floating-graphics"><img src="../static/assets/dragonspacex.png" alt="thebus"></div>
            <div class="floating-graphics2"><img src="../static/assets/flacon9spacex.png" alt="thebus"></div>
            <div style="margin-top: -5px;" class="block payload">
                <h2 style="font-size: 40px;" data-aos="fade-up" data-aos-offset="300" data-aos-duration="2000">Round 1
                </h2>
                <p data-aos="fade-up" data-aos-offset="300" data-aos-duration="2500">Falcon 9 delivers payloads to space
                    aboard the Dragon spacecraft or inside a composite fairing.</p>
            </div>
            <div style="margin-top: 385px;" class="block marine">
                <h2 style="font-size: 40px;" data-aos="fade-upt" data-aos-offset="10" data-aos-duration="3000">Round 3
                </h2>
                <p data-aos="fade-up" data-aos-offset="10" data-aos-duration="3000">With its nine first-stage Merlin
                    engines clustered together,
                    Falcon 9 can sustain up to two engine shutdowns during flight and still successfully complete its
                    mission. Falcon 9 is the only launch vehicle in its class with this key reliability feature.</p>
            </div>
        </div>
    </section>
    </div>
    <!-- <div id="last"> -->
        <div id="last" style="margin-top: -110px;" class="last">
            <div class="container1">
                <h1 style="margin-bottom:45px;color: white;">Register Here</h1>
                <form action="/contact" method="POST">
                    <div class="form-group">
                        <input id="name" type="text" name="name" placeholder="Enter full name">
                    </div>
                    <div class="form-group">
                        <input type="number" name="phone" placeholder="Enter mobile number">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="number" name="TxnId" placeholder="Enter Transaction number">
                    </div>
                    <!-- <button class="btn">Register</button> -->
                    <button style="color:white; border-radius:20px;margin-top:30px;background-color:rgb(22, 131, 255)" class="btn">Register</button>
                </form>
            </div>
            <div id="contactus">
                <div>
                    <h1 style="color: white;">Contact Us</h1>
                    <div style="margin-left: 210px;">
                        <p style="margin-left:30px;color:white;margin-top:60px;font-size:25px;margin-left: -200px;"
                            class="">Sumit
                            Karanjkar : (+91) 8380981469</p>
                    </div>
                    <div style="margin-left: 210px;">
                        <p style="margin-left:30px;color:white;margin-top:40px;font-size:25px;margin-left: -200px;"
                            class="">Pavan
                            Kulkarni : (+91) 9604432379</p>
                    </div>
                </div>
                <div style="display: flex;" class="col-md-3">
                    <!-- <div class="socialmedia  text-left"> -->
                    <!-- <div class="socialmediaico"> -->
                    <a href="https://www.instagram.com/acm.rscoe/" target="_blank"><img
                            style="height: 150px;width:150px;margin:30px 75px 0px 100px"
                            src="../static/assets/insta.png"></a>
                    <a href="https://rscoe.acm.org/" target="_blank"><img
                            style="height: 150px;width:150px;margin:30px 75px 0px 100px"
                            src="../static/assets/logo.png"></a>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div style="background-color: rgb(177, 5, 5);">
        <p style="padding-left:500px" class="text-white fw-100 fs-13 m-0"> &#169; Organized with ❤️ by team ACM&nbsp;,&nbsp;Rscoe</p>
        </div>
    <!-- </div> -->
    <!-- pernguhubung js  -->
    <script src="../static/js/ExploreUniverse.js"></script>

    <!-- aos -->
    <script src="../static/js/aos.js"></script>
    <script>
        AOS.init({
            once: true
        });
    </script>
    <!-- gsap ------------------------- -->
    <script src="../static/js/gsap.min.js"></script>
    <script src="../static/js/ScrollTrigger.min.js"></script>
    <script>
        gsap.from('.floating-graphics img', {
            repeat: -1,
            yoyo: true,
            opacity: 0,
            ease: 'elastic',
            delay: 1,
            y: 50
        }

        );

        gsap.from('.floating-graphics2 img', {
            repeat: -1,
            yoyo: true,
            opacity: -1,
            ease: "back.inOut(1.7)",
            y: -200,
            y: 100
        }

        );
        gsap.from('.engines img', {
            repeat: -1,
            yoyo: true,
            opacity: 0,
            ease: 'elastic',
            delay: 1
        }

        );

        tl.from(".marine", {
            y: 1000,
            opacity: 0,
            duration: 4,
            delay: 0,
            ease: 'expo'
        }, "=2")
    </script>

    <script>
            // SCROLL ROCKET 
            (function () {
                let rocketPieces = document.querySelectorAll('.rocket-body span')
                let rocket = document.querySelector('.rocket')
                let triggerStart = window.innerHeight / 5;
                let rocketOffsetTop = rocket.offsetTop;
                let thirdOffsetTop = rocketPieces[2].offsetTop;

                document.addEventListener('scroll', (e) => {
                    if (window.scrollY > (rocketOffsetTop - triggerStart)) {
                        rocketPieces[0].classList.add('active');
                        //rocketPieces[1].classList.add('active');
                    } else {
                        rocketPieces[0].classList.remove('active');
                        rocketPieces[1].classList.remove('active');
                    }

                    if (window.scrollY > (thirdOffsetTop - triggerStart)) {
                        rocketPieces[2].classList.add('active');
                    } else {
                        rocketPieces[2].classList.remove('active');
                    }
                }

                )
            }

                ())
    </script>
    <script src="../static/js/particles.min.js"></script>

</body>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.navbar-nav>li>a').on('click', function () {
        $('.navbar-collapse').collapse('hide');
    });

</script>
<script type="text/javascript">var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }</script>
<script language="javascript" type="text/javascript">
    $(window).on('load', function () { $(".se-pre-con").fadeOut("slow");; });
</script>

<script src="../static/js/particles.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/jquery.countdown.min.js"></script>
<script src="../static/js/countdown1.js"></script>

</html>